# pycharm file
.idea*

# snakemake
.snakemake*

# Results and data
data/*
results/*
resources/*
rsid*
genetic_data.json
*.txt

# Rstudio files
.Rproj.user
*.Rproj

# resources and tmp-data
resource*
tmp-data*

# RData
*.RData
*.Rhistory
*history
